body{
  margin-right: auto;
  margin-left : auto;
  width:700px;
}

h1 {
  font-size: 18px;
  text-align: center;
}

.top {
  display: flex;
  justify-content: space-between;
}

table {
  border-spacing: 10;
  border-collapse: collapse;
}

tr {
}

td {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  width: 200px;
}

td:first-child {
  color: red;
}

td:last-child {
  color: royalblue;
}

#daycount {
  vertical-align: left;
}

#title {
  float: center;
}

#prev {
  float: left;
}

#next {
  float: right;
}

#disabled {
  color: #ccccdd;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  border-color: black;
  }

.btn-square {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn-square:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

#modal {
  background: #fff;
  width: 300px;
  padding: 50px;
  border-radius: 4px;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 500px;
  margin: 0 auto;
  transition: transform 0.4s;
  border-color: black;
}

.hidden {
  display: none;
}

.nico-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  border-color: black;
}

.fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: #272822;
  cursor: pointer;
}

#signup-form {
  width: 100%;   
}

#signup-form h2 {
  color: #272822;
  letter-spacing: 1px;
  margin-bottom: 40px;
}


.submit-btn {
  display: inline-block;
  padding: 20px 30px;
  border: none;
  border-radius: 3px;
  margin: auto auto;
  cursor: pointer;
  font-size: 30px;
}

#close {
  cursor: pointer;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 12px 0;
  margin: 16px auto 0;
}