body{
  margin-right: auto;
  margin-left : auto;
  width:700px;
}

h1 {
  font-size: 18px;
  text-align: center;
}

.top {
  display: flex;
  justify-content: space-between;
}

table {
  border-spacing: 10;
  border-collapse: collapse;
  z-index: 3;
  table-layout: fixed;
}

li {
  list-style: none;
}

td {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: left;
  vertical-align: top;
  width: 200px;
  height: 50px;
}

td:first-child {
  color: red;
  background-color: lightpink;
}

td:last-child {
  color: royalblue;
  background-color: lightskyblue;
}

#daycount {
  vertical-align: left;
}

#title {
  float: center;
}

#prev {
  float: left;
}

#next {
  float: right;
}

#disabled {
  color: #ccccdd;
}

.btn-square {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn-square:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

#modal {
  background-color: lightcyan;
  width: 250px;
  padding: 50px;
  border-radius: 4px;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: transform 0.4s;
  border-color: black;
  z-index: 1;
  position: absolute;
}

.mask {
  background-color: lightslategray;
}

.hidden {
  display: none;
}

.submit-btn {
  display: inline-block;
  padding: 20px;
  border: none;
  border-radius: 3px;
  margin: auto auto;
  cursor: pointer;
  font-size: 30px;
}

#close {
  cursor: pointer;
  width: 100px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 8px 0;
  margin: 16px auto 0;
  z-index: 0;
}