body{
  margin-right: auto;
  margin-left : auto;
  width:700px;
}

h1 {
  font-size: 18px;
}

table {
  border-spacing: 10;
  border-collapse: collapse;
}

tr {
}

td {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  width: 200px;
}

td:first-child {
  color: red;
}

td:last-child {
  color: royalblue;
}

#daycount {
  vertical-align: left;
}

#title {
  float: center;
}

#prev {
  float: left;
}

#next {
  float: right;
}

#disabled {
  color: #ccccdd;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  }

.btn-square {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn-square:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}