body{
  margin-right: auto;
  margin-left : auto;
  width:700px;
}

h1 {
  font-size: 18px;
}

table {
  border-spacing: 10;
  border-collapse: collapse;
}

tr {
  
}

td {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  width: 200px;
}

td:first-child {
  color: red;
}

td:last-child {
  color: royalblue;
}

#daycount {
  vertical-align: left;
}

#title {
  float: center;
}

#prev {
  float: left;
}

#next {
  float: right;
}